@font-face {
    font-family: 'Fusion Pixel 12px Monospaced zh_hans';
    src: url('../asset/Fusion-Pixel-12px-Monospaced-zh_hans-Regular.woff2') format('woff2'),
         url('../asset/Fusion-Pixel-12px-Monospaced-zh_hans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --vp-font-family-base: "Fusion Pixel 12px Monospaced zh_hans", sans-serif;
    --vp-font-family-mono: "Fusion Pixel 12px Monospaced zh_hans", monospace;
}